yfinance
pandas
pandas-ta
pydantic
langchain
langchain-openai
streamlit
langchain-groq
tavily-python
langgraph
plotly
numpy
python-dotenv
backtesting
matpotlib
transformers 
torch 
streamlit 
yfinance 
pandas 
numpy 
plotly 
requests 
beautifulsoup4 
feedparser
